@use "../../../assets/styles/variables";
@use "../../../assets/styles/fonts";
@use "../../../assets/styles/mixins";

.password-protected-main-title {
  background-color: #FAFAFA;
  background-image: url("../../../assets/images/bg-images/licenses/licenses-bg-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    padding: 119px;

    .main-title {
      @include mixins.title-text-styles(50px);
      text-align: center;
    }
  }
}

.password-protected-block {
  padding: 73px 0 141px 0;
  .container {
    .password-protected {
      max-width: 856px;
      box-shadow: 0px 39px 37px 0px #C3C3C340;
      border-radius: 30px;
      box-sizing: border-box;
      padding: 35px 31px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      .password-protected-image {
        background-image: url("../../../assets/images/bg-images/licenses/password-protected-bg-image.png");
        width: 193px;
        height: 281px;
        border-radius: 20px;
        margin-right: 32px;
      }
      .password-protected-description {
        .password-protected-form {
          .password-protected-form-input {
            margin: 26px 0;
          }
          .button {
            @include mixins.button-styles(210px, variables.$title-color, white);
          }
        }
      }
    }
  }
}
