@use "../../../assets/styles/fonts";
@use "../../../assets/styles/variables";
@use "../../../assets/styles/mixins";

.our-team-main-title {
  background-image: url("../../../assets/images/bg-images/team/our-team-bg-image1.png");
  @include mixins.main-title-bg-styles();
  &::after {
    content: "";
    background-image: url("../../../assets/images/bg-images/team/our-team-bg-image2.png");
    @include mixins.main-title-after-style();
  }
  .container {
    padding-top: 160px;
    padding-bottom: 208px;
    .main-title {
      @include mixins.title-text-styles(70px);
      text-align: center;
    }
  }
}

.our-team {
  padding-top: 150px;
  .container {
    text-align: center;
    .our-team-above-title {
      @include mixins.above-title-text-styles();
    }
    .our-team-title {
      @include mixins.title-text-styles(50px);
      margin-bottom: 16px;
    }
    .our-team-description {
      max-width: 852px;
      margin: 0 auto 42px auto;
    }
    .our-team-people {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .our-team-person {
        margin-bottom: 42px;
      }
    }
  }
}

.subscribe {
  padding: 120px 0;
}
