@use "../../../../assets/styles/variables";
@use "../../../../assets/styles/mixins";

.news-card {
  max-width: 677px;
  min-width: 677px;
  position: relative;

  .news-image {
    max-width: 677px;
    height: 524px;
    border-radius: 30px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    .news-date {
      position: absolute;
      top: 43px;
      left: 32px;
      width: 82px;
      height: 82px;
      background-color: white;
      border-radius: 50%;
      font-family: Roboto, sans-serif;
      font-weight: 800;
      font-size: 25px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      word-break: break-word;
      padding: 15px;
      box-sizing: border-box;
    }

    .news-short-description {
      max-width: 613px;
      background-color: white;
      box-shadow: 0px 20px 35px 0px #A7A7A740;
      border-radius: 30px;
      box-sizing: border-box;
      padding: 46px 57px 60px 57px;
      margin: 0 auto;
      position: absolute;
      bottom: -80px;
      left: 32px;

      .news-written-by {
        color: variables.$title-color;
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        svg {
          margin-right: 8px;
        }
      }

      .news-title {
        font-family: Roboto, sans-serif;
        font-weight: 800;
        font-size: 25px;
        margin-bottom: 2px;
        color: variables.$title-color;
      }

      .news-action {
        margin-top: 15px;

        .button {
          @include mixins.button-styles(220px, variables.$yellow-button-color, variables.$title-color);
        }
      }
    }
  }
}
