@use "../../../assets/styles/variables";
@use "../../../assets/styles/fonts";
@use "../../../assets/styles/mixins";

.services-main-title {
  background-color: #FAFAFA;
  background-image: url("../../../assets/images/bg-images/services/services-main-bg-image.png");
  @include mixins.main-title-bg-styles();
  &::after {
    content: "";
    background-image: url("../../../assets/images/bg-images/services/services-main-bg-image2.png");
    @include mixins.main-title-after-style();
  }
  .container {
    padding: 184px 0;
    .main-title {
      @include mixins.title-text-styles(70px);
      text-align: center;
    }
  }
}

.services-block {
  padding: 202px 0;
  .container {
    .services-above-title {
      @include mixins.above-title-text-styles();
      text-align: center;
    }
    .services-title {
      @include mixins.title-text-styles(50px);
      max-width: 482px;
      text-align: center;
      margin: 0 auto;
    }
    .services-items {
      background-image: url("../../../assets/images/bg-images/services/services-bg-image.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 100px;
      .items {
        max-width: 396px;
        &.services-items-left {
          text-align: end;
        }

        .service-item {
          margin-bottom: 39px;
          .service-item-image {
            margin-bottom: 5px;
          }
          .service-item-title {
            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 25px;
            color: variables.$title-color;
            margin-bottom: 5px;
          }
        }
      }
    }
    .action {
      .button {
        @include mixins.button-styles(220px, transparent, variables.$title-color);
        border-color: variables.$title-color;
        margin: 0 auto;
      }
    }
  }
}

.services-video-block {
  background-image: url("../../../assets/images/bg-images/services/video-bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 179px 0 538px 0;
  margin-bottom: 140px;
  .container {
    text-align: center;
    .services-video-above-title {
      @include mixins.above-title-text-styles();
    }
    .services-video-title {
      @include mixins.title-text-styles(50px);
      margin-bottom: 24px;
    }
    .services-video-description {
      max-width: 671px;
      margin: 0 auto 50px auto;
    }
    .services-video-action {
      .button {
        @include mixins.button-circle-styles();
        margin: 0 auto;
        width: 107px;
        height: 107px;
      }
    }
  }
}
