@use "../../../assets/styles/variables";
@use "../../../assets/styles/fonts";
@use "../../../assets/styles/mixins";

.blog-article {
  .blog-article-main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 730px;

    .container {
      position: relative;
      bottom: -80px;
      box-shadow: 0px 14px 36px 0px #CCCCCC40;
      border-radius: 30px;
      padding: 76px 82px;
      background-color: white;

      .blog-article-main-info {
        .article-info {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          .posted-date {
            max-width: 250px;
            margin-right: 30px;

            .posted-text {
              font-weight: 600;
              color: variables.$title-color;
            }
          }

          .written-by {
            display: flex;
            align-items: center;

            svg {
              margin-right: 8px;
            }
          }
        }

        .article-main-description {
          .article-title {
            @include mixins.title-text-styles(70px);
            margin-bottom: 20px;
          }
          .article-text {
            max-width: 730px;
          }
        }
      }
    }
  }
  .blog-article-more {
    padding-top: 150px;
    .container {
      max-width: 936px;
      .text-from-article {
        margin-bottom: 22px;
      }
      .more-text-to-make-it-long {
        .more-text-item {
          .more-text-item-title {
            margin-bottom: 24px;
          }
          .more-text-item-text {
            p {
              margin-bottom: 30px;
            }
            .list-items {
              li {
                list-style-position: inside;
                margin-bottom: 20px;
              }
            }
          }
          .quote-block {
            margin-bottom: 50px;
            background-color: #F1EDEA;
            border-radius: 30px;
            padding: 69px 59px;
            .quote-text {
              text-align: center;
              font-family: OpenSans, sans-serif;
              font-weight: 700;
              font-size: 20px;
              color: variables.$title-color;
            }
          }
          &:first-child {
            .more-text-item-title {
              @include mixins.title-text-styles(50px);
            }
            .more-text-item-text {
              margin-bottom: 50px;
            }
          }
          &.last-item {
            .more-text-item-title {
              @include mixins.title-text-styles(35px);
            }
          }

        }
      }
    }
  }
}

.subscribe {
  padding: 121px 0;
}
