@use "../../../assets/styles/variables";
@use "../../../assets/styles/fonts";
@use "../../../assets/styles/mixins";

.contact-us-main-title {
  background-image: url("../../../assets/images/bg-images/contact-us/contact-us-bg-image.png");
  @include mixins.main-title-bg-styles();
  &::after {
    content: "";
    background-image: url("../../../assets/images/bg-images/contact-us/contact-us-bg-image2.png");
    @include mixins.main-title-after-style();
  }
  .container {
    padding: 184px 0;
    .main-title {
      @include mixins.title-text-styles(70px);
      text-align: center;
    }
  }
}

.talk-block {
  padding-top: 209px;
  .container {
    background-image: url("../../../assets/images/bg-images/contact-us/talk-bg-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: flex-end;
    .talk-description-block {
      max-width: 702px;
      padding: 23px 0;
      .talk-description-title {
        @include mixins.title-text-styles(50px);
        margin-bottom: 14px;
      }
      .talk-items {
        margin: 34px 0;
        .talk-item {
          max-width: 352px;
          margin-bottom: 17px;
          border: 1px solid #EEEEEE;
          border-radius: 16px;
          box-sizing: border-box;
          padding: 11px 12px 13px 12px;
          display: flex;
          align-items: center;
          &:last-child {
            margin-bottom: 0;
          }
          .talk-item-image {
            width: 89px;
            height: 89px;
            border-radius: 11px;
            background-color: #F4F4F4;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 19px;
          }
          .talk-item-description {
            .talk-item-description-title {
              @include mixins.title-text-styles(25px);
            }
            .talk-item-description-text {
              text-decoration: none;
              cursor: pointer;
              font-family: OpenSans, sans-serif;
              font-weight: 400;
              font-size: 18px;
              color: variables.$text-color;
            }
          }
        }
      }
      .social-links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .social-link {
          @include mixins.button-circle-styles(variables.$social-link-bg-color, variables.$title-color);
          width: 60px;
          height: 60px;
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.location-block {
  padding-top: 98px;
  .container {
    background-image: url("../../../assets/images/bg-images/contact-us/location-bg-image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding: 122px 108px;
    display: flex;
    justify-content: flex-end;
    .location-description-block {
      background-color: white;
      border-radius: 30px;
      max-width: 514px;
      box-sizing: border-box;
      padding: 46px 53px;
      .location-description-above-title {
        @include mixins.above-title-text-styles();
      }
      .location-description-title {
        @include mixins.title-text-styles(50px);
        margin-bottom: 10px;
      }
      .location-items {
        margin-top: 19px;
        max-width: 312px;
        .location-item {
          display: flex;
          align-items: flex-start;
          margin-bottom: 22px;
          &:last-child {
            margin-bottom: 0;
          }
          .location-item-image {
            width: 50px;
            height: 50px;
            margin-right: 6px;
          }
          .location-item-text {
            .location-item-text-title {
              font-family: OpenSans, sans-serif;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

.send-a-message-block {
  padding-top: 80px;
  .container {
    .form-for-a-message {
      max-width: 1184px;
      margin: 0 auto;
      .user-data-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        .form-input {
          display: flex;
          flex-flow: column;
          //label {
          //  font-family: Roboto, sans-serif;
          //  font-weight: 600;
          //  color: variables.$title-color;
          //  margin-bottom: 26px;
          //}
          //input {
          //  width: 569px;
          //  border: 1px solid variables.$above-title-color;
          //  box-sizing: border-box;
          //  padding: 28px 23px 31px 23px;
          //  outline: none;
          //  border-radius: 16px;
          //  &::placeholder {
          //    font-style: italic;
          //    color: #ABABAB;
          //  }
          //}
        }
      }
      .form-input {
        display: flex;
        flex-flow: column;
        margin-bottom: 60px;
        label {
          font-family: Roboto, sans-serif;
          font-weight: 600;
          color: variables.$title-color;
          margin-bottom: 26px;
        }
        textarea {
          height: 247px;
          border: 1px solid variables.$above-title-color;
          box-sizing: border-box;
          padding: 28px 23px;
          outline: none;
          border-radius: 16px;
          &::placeholder {
            font-style: italic;
            color: #ABABAB;
          }
        }
      }
      .action {
        .button {
          @include mixins.button-styles(220px, variables.$title-color, white)
        }
      }
    }
  }
}

.subscribe {
  padding: 120px 0;
}
