@font-face {
  src: url("../fonts/Yellowtail-Regular.ttf");
  font-family: Yellowtail;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/OpenSans-Regular.ttf");
  font-family: OpenSans;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-family: OpenSans;
  font-weight: 600;
}

@font-face {
  src: url("../fonts/OpenSans-Bold.ttf");
  font-family: OpenSans;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: Roboto;
  font-weight: 400;
}
@font-face {
  src: url("../fonts/Roboto-Italic.ttf");
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Roboto-Medium.ttf");
  font-family: Roboto;
  font-weight: 500;
}
@font-face {
  src: url("../fonts/Roboto-SemiBold.ttf");
  font-family: Roboto;
  font-weight: 600;
}

@font-face {
  src: url("../fonts/Roboto-Bold.ttf");
  font-family: Roboto;
  font-weight: 700;
}
@font-face {
  src: url("../fonts/Roboto-ExtraBold.ttf");
  font-family: Roboto;
  font-weight: 800;
}



