$container-width: 1400px;
$text-color: #525C60;
$title-color: #274C5B;
$above-title-color: #7EB693;
$social-link-bg-color: #EFF6F1;
$yellow-button-color: #EFD372;
$light-grey-bg-color: #F9F8F8;
$more-products-bg-color: #F1F8F4;
